html {
	min-height: 100%;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	background: linear-gradient(to bottom right, #3D4258, #6670A0, #9688B4);
	line-height: 1.5;
	text-align: center;
}

h1 {
	font-weight: 200;
	font-size: 3rem;
	color: white;
	text-align: center;
}

button {
	display: inline-block;
	background: rgba(10, 20, 30, .3);
	border: 1px solid transparent;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	border-radius: 45px;
	margin: .25rem 0;
	vertical-align: middle;
	line-height: 1;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
}

button:hover {
	border: 1px solid rgba(255, 255, 255, .8);
	color: white;
	background: rgba(255, 255, 255, .1);
}

button.close {
	margin: 0 0 1rem;
	background: #FC6468;
}

button.close:hover {
	border: 1px solid #FC6468;
	color: #FC6468;
	background: transparent;
}